#output dir
run_dir = "/Users/pau/projects/biobb_haddock/biobb_haddock/haddock/run1-full"

# molecules to be docked
molecules = ["/Users/pau/projects/biobb_haddock/biobb_haddock/test/data/haddock/e2aP_1F3G.pdb"]


[topoaa]
autohis = True  # $title Automatic HIS protonation state / $group molecule
delenph = True  # $title Keep or remove non-polar hydrogen atoms / $group molecule
log_level = 'quiet'  # $minchars 0 / $maxchars 100 / $choices ['verbose', 'normal', 'quiet'] / $title Log level verbosity for CNS / $group module
iniseed = 917  # $min 0 / $max 9999999999999999 / $title Random seed / $group molecule
ligand_param_fname = ''  # $title Custom ligand parameter file / $group force field
ligand_top_fname = ''  # $title Custom ligand topology file / $group force field
limit = True  # $title No title yet
tolerance = 0  # $min 0 / $max 99 / $precision 3 / $title Failure tolerance percentage / $group module
